// body{
//   background-color: rgba(0, 0, 0, 0.68);
// }

.feed{
  background-image: url('/assets/background.jpg');
}

.comment{
  max-width: 250px;
  margin: 1px;
}

.feedToggle{
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
}

.fa-twitter{
  color: #45a1f2;
}

.fa-facebook{
  color: #1041a9;
}

.tweet{
  border-right: 2px solid #6b6b6b;
  border-bottom: 2px solid #6b6b6b;
  margin-right: 10px;
  margin-top: 10px;
}

.fbpost{
  border-bottom: 2px solid #6b6b6b;
}

.postUserImg{
  padding-top: 5px;
  width: 50px;
  height: 50px;
}

.postContent{
  width: 150px;
  height: 150px;
}

.post{
  border-bottom: 2px solid rgba(47, 47, 47, 0.88);
  margin: 5px;
}

.linkedAcc{
  border: 3px solid rgba(0, 0, 0, 0.94);
  border-radius: 5px;
  padding: 5px;
}

#fb{
  background-color: #9effc1;
}

#tw{
  background-color: #288cff;
}
