h2.text-center About The Creator
.row
  .col-md-4.col-md-offset-4.col-xs-6.col-xs-offset-3
    .container#aboutCard
      .row
        .col-xs-4
          h2: em Full-Stack Web Developer
          img.thumbnail.meImg(ng-src='/assets/me.jpg')
      .row
        .col-xs-12
          h2 Clyde Marl
          h2: em Convergence
          h2: em Marl.clyde@gmail.com
          h2: i.fa.fa-twitter  &nbsp; @Cmarl
          h2: i.fa.fa-github  &nbsp; github.com/cmarl
          h2: i.fa.fa-linkedin  &nbsp; linkedin.com/in/clydemarl
