h3.text-center Dashboard
.container(ng-if='activeUser')
  .row
    .col-xs-4
      .form-group.linkedAcc#fb
        button.btn.btn-success.form-control(ng-click='addProvider("Facebook")') Link Facebook
        h3(ng-if='facebookPhoto') Facebook
        img.thumbnail.profilePic(ng-if='facebookPhoto' ng-src='{{facebookPhoto}}')
        h4(ng-if='facebookUserInfo.first_name') {{facebookUserInfo.first_name}} {{facebookUserInfo.last_name}}
        h4(ng-if='facebookUserInfo.email') {{facebookUserInfo.email}}
        h4(ng-if='facebookUserInfo.birthday') Birthday: {{facebookUserInfo.birthday}}
        h4(ng-if='facebookUserInfo.friendList.summary.total_count') Friends: {{facebookUserInfo.friendList.summary.total_count}}
        button.btn.btn-danger.form-control(ng-if='facebookPhoto' ng-click='logout("Facebook")') Logout Facebook

    .col-xs-4
      .form-group.linkedAcc#tw
        button.btn.btn-success.form-control(ng-click='addProvider("Twitter")') Link Twitter
        h3 Twitter
        img.thumbnail.profilePic(ng-src='{{twitterUserInfo.avatar}}')
        h4 {{twitterUserInfo.name}}
        h4 {{twitterUserInfo.bio}}
        h4 {{twitterUserInfo.location}}
        h4 Followers: {{twitterUserInfo.raw.followers_count}}
        button.btn.btn-danger.form-control(ng-click='logout("Twitter")') Logout Twitter
    .col-xs-4
      .form-group.linkedAcc#tw
        button.btn.btn-success.form-control(ng-click='addProvider("Instagram")') Link Instagram
        h3 Instagram
        img.thumbnail.profilePic(ng-src='{{instagramUserInfo.avatar}}')
        h4 {{instagramUserInfo.name}}
        h4 Shown as: {{instagramUserInfo.alias}}
        h4 Followers: {{instagramUserInfo.raw.data.counts.followed_by}}
        h4 Following: {{instagramUserInfo.raw.data.counts.follows}}
        button.btn.btn-danger.form-control(ng-click='logout("Instagram")') Logout Instagram
