.container
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      h3 Post HQ
      .form-group
        p#bigMessage(ng-show='post.body.length > 140 && post.twitter') Over Twitter limit! shorten or will trim automatically.. &nbsp;
          i.fa.fa-spinner.fa-spin(ng-show='post.body.length > 140') &nbsp;
        textarea.form-control(ng-model='post.body' placeholder='Type your Tweet/Facebook update here' rows='5')
        .col-xs-3
          label Facebook &nbsp;
            input.checkbox(type='checkbox' ng-model='post.facebook')
        .col-xs-3
          label Twitter &nbsp;
            input.checkbox(type='checkbox' ng-model='post.twitter')
        //- .col-xs-3
        //-   label Google &nbsp;
        //-     input.checkbox(type='checkbox' ng-model='post.instagram')
        //- Instagram may not accept post/puts with images
        .col-xs-3
          label Pinterest &nbsp;
            input.checkbox(type='checkbox' ng-model='post.pinterest')
      .form-group
        button.btn.btn-info.form-control(ng-click='send(post)') Post
